<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T16EC5QQ45"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-T16EC5QQ45'); </script> 
 
 
 Search Console : 
 
 <meta name="google-site-verification" content="HvrCrOcD5L3pEz6A_W1zLo3m9L2DOT9shr6MNWTkCzE" />
 
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MBZZT8PYLP"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-MBZZT8PYLP'); </script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Local Residential, Commercial Roofing & Roof Construction Contractor Howell, MI - Jimmerson Roofing</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Jimmerson Roofing offers expert residential and commercial roofing services in Howell, MI. Trust our local contractors for quality construction and dependable solutions. Call 517-484-4350.">
<meta name="author" content="">

<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700italic,700,500&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/custom.css" rel="stylesheet">

<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

<link rel="shortcut icon" href="assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

<style>
#bbblinkimg{
	margin-top:0 !important;
}

#header-image{
	position:static;
}

#home-header-box{
	background-image:url(images/headers/header1.png);
	background-size:cover;
	background-position:center;
	padding:100px 0;
}

.home #header-text{
	margin:0;
}

@media screen and (max-width:767px){
	#bbblink{
		margin:0 auto !important;
	}
}

</style>

<!--Google reCAPTCHA-->
<script src='https://www.google.com/recaptcha/api.js'></script>
<style>
	#google-recaptcha div div{
		display:block;
		margin:15px 0 0;
	}
</style>

<!--<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65855832-1', 'auto');
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');

</script>-->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5TS45LW');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K86472G');</script>
<!-- End Google Tag Manager -->


<!-- Segment Pixel - NC_Charlotte_Jimmerson Roofing_RT Pixel - DO NOT MODIFY -->
<script src="https://secure.adnxs.com/seg?add=29065289&t=1" type="text/javascript"></script>
<!-- End of Segment Pixel -->

<!-- Conversion Pixel - NC_Charlotte_Jimmerson Roofing_CV Pixel - DO NOT MODIFY -->
<script src="https://secure.adnxs.com/px?id=1553161&t=1" type="text/javascript"></script>
<!-- End of Conversion Pixel -->

<!-- Start Ad360 Event Pixel Snippet -->
<script>
    !function(e,t,n,i,p,s,a,c,o){e[p]||((a=e[p]=function(){a.process?a.process.apply(a,arguments):a.queue.push(arguments)}).queue=[],a.t=1*new Date,(c=t.createElement(n)).async=1,c.src="//cdn.ad360.media/js/ad360pixelevent.min.js?t="+864e5*Math.ceil(new Date/864e5),(o=t.getElementsByTagName(n)[0]).parentNode.insertBefore(c,o))}(window,document,"script",0,"ad360"),
    ad360("init","c523e37d-f344-48b9-aa3a-4dcf2128b98b"),ad360("event","0f56d4fe-caed-43ce-b452-9ebfd0a7eb03", {someData: 1, otherData: 'cool'});
</script>
<!-- End Ad360 Event Pixel Snippet -->
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5TS45LW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K86472G"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<section>
<style>
    #contact-info {
        background-color: black;
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        
        padding: 12px 48px;
    }
    
    #contact-info a {
        color: white;
        font-size: 32px;
    }

	#new-header-mobile{
		display:none;
	}
	@media screen and (max-width:767px){
		#new-header{
			display:none;
		}
		#new-header-mobile{
			display:block;
		}
		
		#contact-info {
		    flex-direction: column;
		}
		
		#contact-info a {
		    font-size: 24px;
		}
	}
</style>
	<a href="https://jimmersonroofing.com/"><img src="images/jimmerson-heading-new.jpg" alt="Jimmerson Heading Image" style="width:100%;" id="new-header" /></a>
    <a href="https://jimmersonroofing.com/"><img src="images/jimmerson-mobile-header-new.jpg" alt="Jimmerson Heading Image" style="width:100%;" id="new-header-mobile" /></a>
    
    <div id="contact-info">
                <p><a href="https://jimmersonroofing.com/">JIMMERSONROOFING.COM</a></p>
                <p><a href="tel:5174844350">517-484-4350</a></p>
    </div>
    
    <nav class="navbar-default" role="navigation" style="background:#fff;">
        <div class="container">
            <!--<div class="navbar-header">
                 								
                 <a class="navbar-brand" href="https://jimmersonroofing.com/"><img src="images/logo-nophone.png" alt="Jimmerson Roofing Logo" /></a>
            </div>-->
            
            <!--<div id="header-contact">
            	<div id="header-phone">
                	<img src="images/phone.png" alt="Phone Number" />
                    <p>(517) 484-4350</p>
                </div>
                <div id="header-email">
                	<img src="images/mail.png" alt="Email" />
                	<p>john@jimmersonroofing.com</p>
                </div>
            </div>-->
            
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> 
            	 <table><tr><td>
                 <span class="sr-only">Toggle navigation</span>                 
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span></td>
                 <td>Menu</td></tr></table></button> 
            
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav" style="position:static;width:100%;">
                    
                    <li>
                        <a href="about.php">About Us</a>
                    </li>
                    <li>
                        <a href="roofing.php">Roofing</a>
                    </li>
                    <li>
                        <a href="find-a-roof-construction-contractor-grand-ledge-mi.php">Roof Construction</a>
                    </li>
                    <li>
                        <a href="siding.php">Siding</a>
                    </li>
                    <li>
                        <a href="gutters.php">Gutters</a>
                    </li>
                    <li>
                        <a href="https://www.enhancify.com/jimmerson-roofing" target="_blank">Financing</a>
                    </li>
                    <li>
                        <a href="windows.php">Windows</a>
                    </li>
                    
                    
                    

                    <li>
                        <a href="testimonials.php">Testimonials</a>
                    </li>
                    <li>
                        <a href="contact.php">Contact Us</a>
                    </li>
                    
                </ul>
            </div>
            
        </div>
        
    </nav>
</section>
<div class="wrap home">
<section>
	
    <div id="home-header-box">
    	<h2 id="header-text">Let 4 generations and 80 years experience be your home improvement contractor.</h2>
    </div>
    
	<div class="container">
		<div class="row">
        
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            
            	<div class="circles">
                	<img src="images/roof-repair.jpg" alt="Roofing">
                    <a href="roofing.php"><div>
                    	<h4>Roofing</h4>
                    </div></a>
                </div>
                
                <div class="circles">
                	<img src="images/siding.jpg" alt="Siding">
                    <a href="siding.php"><div>
                    	<h4>Siding</h4>
                	</div></a>
                </div>
                
                <div class="circles">
                	<img src="images/gutter.jpg" alt="Gutters & Guards">
                    <a href="gutters.php"><div>
                    	<h4>Gutters &amp; Guards</h4>
                    </div></a>
                </div>
                
                <div class="circles">
                	<img src="images/window.jpg" alt="Windows">
                    <a href="windows.php"><div>
                    	<h4>Windows</h4>
                    </div></a>
                </div>
                
               
                <div class="clear"></div>
                
				
                <h3 class="text-center" style="color:#b81b36;">Don't Worry About a Shingle Thing!<br>
                TRUST A LANSING, MICHIGAN ROOFING EXPERT WITH ALL YOUR ROOFING NEEDS.</h3>
                
                <p>Few parts of your home are as important as the roof, so when you need roofing services, it's important to hire a professional contractor you can trust. At Jimmerson Roofing, we strive to provide honest, efficient services addressing all of your roofing needs. We are a local, family owned and operated, licensed and insured roofing company in Lansing, MI. We have more than 70 years of experience providing quality solutions for businesses and homeowners in the greater Lansing area, and the capability to efficiently and effectively take care of any trouble you may run into. From storm damage to normal wear and tear you'll have your roof restored in no time when you work with Jimmerson’s roofing. We'll work hard to be your trusted company for roof replacement and repair services throughout the greater Lansing area.</p>
                </div></div></div>
                
                <div style="background:#263c6e;color:#fff;padding-bottom:30px;margin-top:30px;">
                	<div class="container">
                    <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h3 class="text-center">Quality Starts From the Top Down<br>
                        RESIDENTIAL ROOF REPLACEMENT SERVICES</h3>
                        
                        <p>Can your roof withstand the Michigan elements? If you're unsure, it's time to call Jimmerson Roofing. We'll inspect aging and damaged roofs to determine the extent of the damage, offering experienced solutions to strengthen or restore your roof for long lasting, durable protection.</p>
        
                        <p>Our team takes pride in providing roofing repair and replacement solutions that keep your home and family well protected, and treat every home we service as though it were our own. Schedule a free service estimate with Jimmerson Roofing today!</p>
                    </div></div></div>
                </div>
                
                
                <div class="container">
                <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                
                <h3 class="text-center" style="color:#b81b36;">The Best Commercial Roof Replacement In The Great Lake State<br>
                CALL JIMMERSON ROOFING TO KEEP YOUR BUSINESS PROTECTED AND PROFITABLE</h3>
                
                <p style="margin-bottom:40px;">Whether you are preparing to build office space and need a new roof or your current one is in need of repair, Jimmerson Roofing has you covered. No matter your building type or size, our team has the experience and expertise you need for prompt, effective service solutions for your roofing needs. If you have commercial office space, but are facing trouble with a damaged or leaking roof, we'll provide you with quality repair, replacement or maintenance according to your needs. To learn more about our commercial roofing services, call Jimmerson Roofing today!</p> 
                
                
                <h3 class="text-center" style="color:#b81b36;">AUTHORIZED CONTRACTOR BADGE</h3>
                        <center>      
                	<a href="https://michigansaves.org/loancenter"><img style="width: 200px; height: 200px;" src="images/Jimmerson Roofing Authorized Contractor Badge.png" alt="Authorized Contract Badge">
                    </center>  <br>
                 <p style="margin-bottom:40px;" class="text-center">Apply for a loan by clicking the authorized contractor badge. <br>You will need to input our contractor ID for the loan application.</p></a>
                
                
                
                
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                	<h4>Get Started</h4>
                    
                    <form id="home-form" action="contact_proc.php" method="post">
                    	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        	<label>Name*</label><br />
                            <input name="name" type="text" required>
                        </div>
                        
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        	<label>Email*</label><br />
                            <input name="email" type="text" required>
                        </div>
                        
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        	<label>Phone</label><br />
                            <input name="phone" type="text">
                        </div>
                        
                        <div class="clear"></div>
                        <br />
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label>Tell us a little about your project.</label><br />
                            <textarea name="message" cols="" rows="10"></textarea>
                            <br />
                            <div id="google-recaptcha">
                                <div class="g-recaptcha" data-sitekey="6Lcos5cUAAAAANvM16grLO_VhGZHaQgB73VTB-Ar"></div>
                            </div>
                            <br />
                            <input name="submit" type="submit">
                        </div>
                        
                    </form>
                </div>
                
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 quality">
                	<h4>Quality Materials</h4>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    	<img src="images/quality/certainteed.gif" alt="CertainTeed"/>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    	<img src="images/quality/andersen.jpg" alt="Andersen" />
                    </div>
                    <div style="clear:both;"></div>
                    <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    	<img src="images/quality/owens.gif" alt="Owens Corning" />
                    </div>--> 
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    	<img src="images/malarkey.svg" alt="Owens Corning" />
                    </div>
                    
                    
                    
                
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    	<img src="images/quality/gaf.jpg" alt="GAF" />
                    </div>
                    
                    
                    <div class="clear"></div>
                    
                    <h4 style="margin-top:30px;">Quality Service</h4>
                    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10" style="text-align:center">
                    	<a id="bbblink" class="ruhzbul" href="https://www.bbb.org/western-michigan/business-reviews/roofing-contractors/jimmerson-roofing-and-siding-in-lansing-mi-38031630#bbbseal" title="Jimmerson Roofing & Siding, Roofing Contractors, Lansing, MI" style="display: block;position: relative;overflow: hidden; width: 200px; height: 100px; margin: 0px; padding: 0px;"><img style="padding: 0px; border: none;" id="bbblinkimg" src="https://seal-westernmichigan.bbb.org/logo/ruhzbul/jimmerson-roofing-and-siding-38031630.png" width="400" height="90" alt="Jimmerson Roofing & Siding, Roofing Contractors, Lansing, MI" /></a><script type="text/javascript">var bbbprotocol = ( ("https:" == document.location.protocol) ? "https://" : "https://" ); document.write(unescape("%3Cscript src='" + bbbprotocol + 'seal-westernmichigan.bbb.org' + unescape('%2Flogo%2Fjimmerson-roofing-and-siding-38031630.js') + "' type='text/javascript'%3E%3C/script%3E"));</script>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    	<a href="https://www.buildingmichigan.org/" target="_blank"><img src="images/quality/hba.png" alt="Home Builders Association" /></a>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    	<script type="text/javascript" src="https://www.angieslist.com/webbadge/insertwebbadge.js?bid=12e0a6e86c14ad441ec61d8c921645bd"></script><script type="text/javascript">if (BADGEBOX) BADGEBOX.PlaceBadge();</script><noscript><div id="ssanslnk"><a href="https://www.angieslist.com/companylist/us/mi/de-witt/jimmerson-roofing-co-reviews-427890.aspx" title="Angie's List Super Service Award winner">LANSING roofing</a></div></noscript>

                    </div>
                </div>
                
			</div>
					
        </div><!--End of Row-->
    </div><!--End of container-->
</section>
</div><!--end of wrap-->

<section class="footer">
    <div class="container">
        <div class="row">
        
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <p>© 2026 Jimmerson Roofing<br />
                    Website Design by the <a href="https://shumakergroup.com" target="_blank">Shumaker Technology Group</a></p>
                </div>
            </div>

        </div><!--end of row-->
    </div><!--end of container-->
</section>


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.js" type="text/javascript"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="assets/js/bootstrap.js"></script>


<script>(function(d){var s = d.createElement("script");s.setAttribute("data-account", "03fsZ1F3uh");s.setAttribute("src", "https://cdn.userway.org/widget.js");(d.body || d.head).appendChild(s);})(document)</script><noscript>Please ensure Javascript is enabled for purposes of <a href="https://userway.org">website accessibility</a></noscript>
</body>
</html>